<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Welcome <%= fn %> <%= ln %> </h1>
    <h2>Your Data:</h2>
    <h3>
        Name: <%= fn %> <br><br>
        Last-Name: <%= ln %> <br> <br>
        Age: <%= age %> <br> <br>
        Contact No.: <%= no %> <br> <br>
        Email: <%= email %> <br> <br>
    </h3>
</body>
</html>